APP_ENV=development
APP_DEBUG=true
APP_DISPLAY_ERRORS=true
APP_LOG_ERRORS=true
APP_URL=http://site.local
APP_TIMEZONE=Europe/Moscow
DB_DRIVER=sqlite
DB_PATH=db/game.sqlite
DB_MIGRATIONS_PATH=migrations
SESSION_USE_ONLY_COOKIES=true
SESSION_USE_STRICT_MODE=true
SESSION_COOKIE_HTTPONLY=true
SESSION_COOKIE_SECURE=false
SESSION_COOKIE_SAMESITE=Lax
SESSION_COOKIE_PATH=/
SESSION_COOKIE_DOMAIN=
STORAGE_PATH=storage
STORAGE_LOGS_PATH=logs
STORAGE_RATELIMITS_PATH=ratelimits
STORAGE_SESSIONS_PATH=sessions
STORAGE_TMP_PATH=tmp
